<!doctype html>
<html>
  <head>
    <title>URL Shortner</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <style>
  .center {
  text-align: center;
 margin: auto;
  width: 40%;
 border: solid #99d6ff;
 border-radius: 4px;
 padding: 10px;
 } 
 </style>
  <body>
<div class="center">
<h2>URL Shortener</h2>
<form align=center method=post action="{{ url_for('to_short_url') }}">
  <label for="original_url">Encode to a short URL:</label><br>
  <input type="text" id="original_url" name="original_url"><br>
  <input type="submit" value='Submit original URL'>
</form>
</br>
<form align=center method=post action="{{ url_for('to_original_url') }}">
  <label for="short_url">Decode from a short URL:</label><br>
  <input type="text" id="short_url" name="short_url"><br>
  <input type="submit" value='Submit short URL'>
</form>


</div>
  </body>
</html>
